@inherits LayoutComponentBase

<div class="main-layout">
    <nav>
        <ul>
            <li><NavLink href="/">Home</NavLink></li>
            <li><NavLink href="/TestRunner">Start Test</NavLink></li>
            <li><NavLink href="/Results">View Results</NavLink></li>
        </ul>
    </nav>
    <div class="content">
        @Body
    </div>
</div>