@inherits LayoutComponentBase

<PageTitle>Rotating Bearing Test Bench</PageTitle>

<div class="sidebar">
    <nav>
        <ul>
            <li><NavLink href="/" class="nav-link">Home</NavLink></li>
            <li><NavLink href="/TestRunner" class="nav-link">Start Test Simulation</NavLink></li>
            <li><NavLink href="/Results" class="nav-link">View Test Results</NavLink></li>
        </ul>
    </nav>
</div>

<main>
    @Body
</main>
