@page "/"
@using RotatingBearingUI.Models
@using RotatingBearingUI.Services
@inject NavigationManager Navigation

<h3>Rotating Bending Test Bench</h3>

<p>Welcome to the Test Bench simulation interface.</p>

<nav>
    <ul>
        <li><a href="TestRunner">Start Test Simulation</a></li>
        <li><a href="Results">View Test Results</a></li>
    </ul>
</nav>